.container {
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 20px;
}
.form {
  display: block;
  padding: 30px;
  background-color: #0160b2;
}
.form table {
  text-align: left;
}
.title {
  font-size: 2rem;
  padding: 30px;
  font-weight: bold;
  background-color: #0160b2;

  margin-bottom: 10px;
}
.title_wrapper {
  width: 130px;
}
.input_wrapper {
  width: 400px;
}
.title_input {
  width: 100%;
  font-size: 1.2rem;
}

.text_wrapper {
  margin-top: 20px;
}
.text_input {
  width: 100%;
  height: 300px;
  resize: none;
  font-size: 1rem;
}
.create_btn {
  padding: 10px 20px;
  margin-top: 30px;
  color: #0160b2;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
}
